@import "tailwindcss";

:root {
  --background: #021a12;
  --foreground: #d1fae5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-emerald-975: #021a12;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
